@charset "UTF-8";
/**
MyRoute
**/
#myroute {
  padding-bottom: 2rem;
}

.myroute-item {
  @include flex-box();
  @include flex-direction(row);
  @include justify-content(center);
  @include align-items(center);
  padding: 1rem 2rem;
}

.myroute-box {
  @include flex-box();
  @include flex-direction(row);
  @include justify-content(center);
  @include align-items(center);
  text-align: center;
  background-color: #ffffff;
  border-bottom: 1px solid #d3d1d1;
  border-right: 1px solid #d3d1d1;
  width: 40%;
  height: 5rem;
  padding: 0 .5rem;
  overflow: hidden;
}

.myroute-arrow {
  width: 15%;
  height: 15%;
  margin: 0 .5rem;
}

.myroute-btn {
  padding-top: 1.2rem;
}

.myroute-selected {
  background-color: #D1D1D1;
}