@charset "UTF-8";
/**
Policy
**/
#policy {
  text-align: center;
  background-color: white;
  padding: 1.5rem;

  ol {
    -webkit-padding-start: 2rem;
  }

}

.policy-title {
  font-size: $font-size-big;
}

.policy-description {
  text-align: left;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.policy-item {
  text-align: left;
  margin-bottom: 2rem;
}

.policy-head {
  font-weight: bold;
}

/*.policy-content {
  display: inline-block;
}*/

.policy-container {
  width: 100%;
  margin-bottom: 2rem;
  @include flex-box();
  @include flex-direction(row);
  @include justify-content(flex-start);
}

.policy-number {
  text-align: left;
  margin-right: 1rem;
  @include flex-shrink(0);
}

.policy-content {
  text-align: left;
  @include flex-grow(1);
}