@charset "UTF-8";
/**
Timetable
**/
#timetable {
  padding: 1rem;
}

.timetable-route {
  margin-bottom: 1rem;
}

.timetable-timelist {
  overflow: auto;
}

.timetable-container {
  margin-bottom: .4rem;
}

.timetable-time {
  background-color: white;
  text-align: center;
  padding: 1rem;
  border-bottom: 1px solid #dedede;
}
