@charset "UTF-8";
/**
Variables
**/
$font-size-small: 1.2rem;
$font-size-default: 1.4rem;
$font-size-medium: 1.6rem;
$font-size-big: 1.8rem;

$font-color-grey: #666666;
$font-color-rightgrey: #F2F2F2;
$font-color-blue: #70ACFF;

$btn-color-cancel: #999999;
$btn-color-ok: $font-color-blue;

$background-color: #F0F0F0;
$content-background-color: #FFFFFF;
$border-color-gray: #bbbbbb;

$color-blue: $font-color-blue;
$header-color: #FA565A;

$color-tag-yellow: #E8D055;
$color-tag-green: #AAD8B0;
$color-tag-red: #FF6F69;
$color-tag-blue: #6BC4EA;
$color-tag-purple: #BD82E8;

$header-zindex: 100;
$header-min-height: 5rem;