<div class="dialog-panel dialog-prepare">
    <div class="dialog-title"></div>
    <div class="dialog-content"></div>
    <div class="dialog-buttons">
        <div id="dialog-ok-button" class="">OK</div>
        <div id="dialog-cancel-button" class="">Cancel</div>
    </div>
</div>
