<div class="nav-header" data-action="preference"><i class="fa fa-cog fa-2x"></i><span>re0002fg</span></div>
<div class="nav-list-head" data-action="all"><i class="fa fa-folder-open-o"></i>すべて</div>
<div class="nav-list"></div>
<div class="nav-list-head" data-action="favorite"><i class="fa fa-star-o fa-lg"></i>お気に入り</div>