<div class="center">
    <button class="btn btn-primary enterTheRoom" data-action="1">Room1<span id="notice1" class="notice" style="display: none"></span></button>
    <button class="btn btn-primary enterTheRoom" data-action="2">Room2<span id="notice2" class="notice" style="display: none"></span></button>
    <button class="btn btn-primary enterTheRoom" data-action="3">Room3<span id="notice3" class="notice" style="display: none"></span></button>
</div>